body {
    margin: 0;
    background-image: linear-gradient(#0F5959, rgba(15, 89, 89, 0.10));
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    background-color: coral;
    justify-content: center;
    text-align: center;


}

main {
    display: flex;
    background-color: cadetblue;
}

.kartta {
    width: 50%;
    height: 10rem;
    text-align: center;
    background-color: olive;

}
.valinnat {
    width: 50%;
    height: 10rem;
    text-align: center;
    background-color: blueviolet;
}